<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite-TestGrid">
  <test thread-count="5" name="ChromeInternalGridTesting">
  <classes>
  <class name="com.grid.testing.SeleniumGridChromeTest"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
